@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{

    scroll-behavior: smooth;
}
body{
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(68, 67, 67);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    /*opacity: 0;
    animation: slideRight is ease forwards;*/
}

.K{
    color: #0ef;
    font-size: 50px;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active{
    color: #0ef;
}


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(blue.webp) no-repeat; */
    background: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    flex-basis: 50%;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h3 span{
    color: #0ef;
    
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    font-size: 20px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}

/* @keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} */

.imge{
    /* align-items: end;
    padding: 70px 10% 0;  */
    flex-basis: 40%;
    align-items: center;
    margin-top: 50px;
}

.port2 img{
    width: 500px;
    border-radius: 15px;
    /* margin-left: 10px;
    margin-top: 10px; */
    padding-left: 0%;
}

.port{
    width: 530px;
    border-radius: 50%;
    background: #0ef;
    height: 530px;
    align-items: center;
    
} 
.port2{
    width: 510px;
    border-radius: 50%;
    background:rgb(68, 67, 67);
    height: 510px;
    align-items: center;
    
} 

.port3{
    width: 520px;
    border-radius: 50%;
    background:#081b29;
    height: 520px;
    align-items: center;
    
} 

#about{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(blue.webp) no-repeat; */
    background: #081b29;
    background-size: cover;
    background-position: center;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 10% 0;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    display: block;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
}

.about-containers {
    margin: 20px 0 40px;
    display: flex;
  }

.togglebtn {
    margin-right: 50px;
    background-color: rgb(68, 67, 67);
    color:white;
    margin-bottom: 20px;
    transition: all 300ms ease;
    padding: 1rem;
    justify-content: center;
    width: 20rem;
    border-radius: 20px;
    max-width: fit-content;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    
  } 
  
.togglebtn:hover {
    background: black;
  color: white;
} 

/* .details-container {
    display: none;
  } */

/* .details-container.active{
    display: block;
} */

  .toggleIcon{
    font-size: 25px;
  }

.details-container{
    background: transparent;
    color: white;
    text-align: center;
    border-radius: 5%;
    width: 75%;
    padding-top: 20px;
    
}

#skills{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(blue.webp) no-repeat; */
    background: #081b29;
    background-size: cover;
    background-position: center;
    align-items: center;
}


.skills-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 10% 0;
    align-items: center;
   
}

.skills-content h3{
    display: block;
    padding-left: 35%;
    font-size: 50px;
    font-weight: 600;
    margin-top: auto;
}

.skill-content{
    flex-basis: 40%;
    width: 40%;
    float: left;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
   
}

.skill-content h3{
    padding-left: 15%;
    font-size: 40px;
    font-weight: 500;
    width: 100%;
  
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #ededed;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 14px;
    background-color: #ededed;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #0ef;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1 linear forwards;
}
/* 
.div1{
    height: 200px;
    width: 55%;
} */

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: black;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.skill-contents{
    flex-basis: 55%;
    width: 55%;

    align-items: center;
    text-align: center;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    /* background-color: red; */
}

.skill-contents h3{
    /* padding-left: 15%; */
    font-size: 40px;
    font-weight: 500;
    width: 100%;
}

.two-circle-one{
    display: flex;
}
.two-circle-two{
    display: flex;
}

.circle-wrap {
  margin-left: 50px;
  width: 150px;
  height: 150px;
  background: #ededed;
  border-radius: 50%;
  border: 1px solid #ededed;
  margin-right: 200px;
}

.nm{
    font-size: 18px;
    font-weight: 700;
    color: #ededed;
    text-transform: uppercase;
    margin: 160px auto;
    width: 170px;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #081b29;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
 
  color: #ededed;
  position: absolute;
  z-index: 50;
  font-weight: 700;
  font-size: 2em;
  gap: 20px;
}

/* color animation */

/* 1st progress bar */
.circle-wrap .circle .mask,
.circle-wrap .circle .fill1 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}


.mask .fill1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #0ef;
}

.mask.full1,
.circle .fill1 {
  animation: fill1 ease-in-out 2.5s;
  transform: rotate(135deg);
}

@keyframes fill1{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}


/* 2nd progress bar */
.circle-wrap .circle .mask,
.circle-wrap .circle .fill2 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}


.mask .fill2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #0ef;
}

.mask.full2,
.circle .fill2 {
  animation: fill2 ease-in-out 2.5s;
 transform: rotate(144deg);  /*  change here */
}

@keyframes fill2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg); /*  change here */
  }
}


/* 3rd progress bar */
.circle-wrap .circle .mask,
.circle-wrap .circle .fill3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}


.mask .fill3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color:#0ef;
}

.mask.full3,
.circle .fill3 {
  animation: fill3 ease-in-out 2.5s;
  transform: rotate(162deg);
}

@keyframes fill3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(162deg);
  }
}


/* 4th progress bar */
.circle-wrap .circle .mask,
.circle-wrap .circle .fill4 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}


.mask .fill4 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color:#0ef;
}

.mask.full4,
.circle .fill4{
  animation: fill4 ease-in-out 2.5s;
  transform: rotate(108deg);
}

@keyframes fill4{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(108deg);
  }
}

#portfolio{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 105vh;
    /* background: url(blue.webp) no-repeat; */
    background: #081b29;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.portfolio-content{
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 75px 5% 0;
   
   
}
.portfolio-content h3{
    display: block;
    padding-left: 35%;
    font-size: 50px;
    font-weight: 600;
}

.work-list{
    display: flex;
    width: 100%;
    
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); */
    grid-gap: 70px;
    margin-top: 10px;
}

.work{
    width: 30%;
    border-radius: 10px;
    position: relative;
    height: auto;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0ef);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h4{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px; 
}
.layer a{
    margin-top: 20px;
    color: #0ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #0ef;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #0ef;
}

/* contact css */

#contact{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(blue.webp) no-repeat; */
    background: #081b29;
    background-size: cover;
    background-position: center;
    align-items: center;
}


.contact-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 5% 0;
    align-items: center;
   
}
.contact-left{
    flex-basis: 35%;
    /* float: left; */
}
.contact-right{
    flex-basis: 60%;
    /* float: right;
    padding-left: 100px; */
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #0ef;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ededed;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0ef;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #0ef;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: o;
    outline: none;
    background: #081b29;
    padding: 15px;
    margin: 15px 0;
    color: #ededed;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:rgb(68, 67, 67);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #0ef;
}
.KA{
    color: #0ef;
   
}